h1 {
    margin: 0 ;
    padding: 20px 0;
    color: #000000;
    text-align: center
  }
  h2 {
    text-decoration: underline;
    color: #000000;
    text-align: center;
  }
  h2.articles{
    text-decoration: underline;
    color: #000000;
    text-align: left;
  }
  h3 {
  
    color: #000000;
    text-align: center;
  }
  h4 {
  
    color: #000000;
    text-align: center;
  }

  img#imageprincipale {
    display: block;
    margin: 0 auto;
    width: 100%;
    min-width: 150px;
    max-width: 500px;
  }
  img.gifstar {
    display: block;
    margin: 0 auto;
    width: 100%;
    min-width: 100px;
    max-width: 250px;
  }
  img#imageumbrella {
    display: block;
    margin: 0 auto;
    width: 300px;
  }
  img#imagediamonds {
    display: block;
    margin: 0 auto;
    width: 200px;
  }
  img#imagelove {
    display: block;
    margin: 0 auto;
    width: 300px;
  }
  img#sandm {
    display: block;
    margin: 0 auto;
    width: 300px;
  }
p.couplet{
  color: #000000;
  font-style: italic;
  text-align: center;
}
p.refrain{
  color: #000000;
  text-align: center;
}
h4.cacher{
display: none;
}
img#imgwiki {
  display: block;
  margin: 0 auto;
  width: 100px;
}
img#imginsta {
  display: block;
  margin: 0 auto;
  width: 100px;
}
section.Ressources{
  display: flex;
  text-align: center;
  justify-content: center;
}
section.Ressources > p{
  margin-left: 5%;
  margin-right: 5%;
}
section.musiques{
  display: flex;
  text-align: center;
  justify-content: center; 
}
section.imgprincipales{
  display: flex;
  justify-content: center; 
}
section.imgprincipales > p{
  margin-left: 5%;
  margin-right: 5%;
}

img#imgumbrella {
  display: block;
  margin: 0 auto;
  width: 100%;
  min-width: 100px;
  max-width: 200px;
 
  
}
img#imgdiamonds {
  display: block;
  margin: 0 auto;
  width: 100%;
  min-width: 100px;
  max-width: 200px;
 
}
img#imglove {
  display: block;
  margin: 0 auto;
  width: 100%;
  min-width: 100px;
  max-width: 200px;
 
}
img#imgsandm {
  display: block;
  margin: 0 auto;
  width: 100%;
  min-width: 100px;
  max-width: 200px;
 
}
img#imghome {
  display: block;
  margin: 0 auto;
  width: 100px;
}
footer{
  text-align: right;
}
body {
  width: 100%;
  height: 100%;
  position: absolute;
  background: linear-gradient(to bottom, #6e529d 0%,#d97b93 100%);
  background-attachment:fixed
}
iframe{
  display: block;
    margin: 0 auto;
}
section.Mentions{
  text-align: center;
}