h1 {
    margin: 0 ;
    padding: 20px 0;
    color: #000000;
    text-align: center
  }
  h2 {
    text-decoration: underline;
    color: #000000;
    text-align: center;
  }
  body {
    margin: 0 auto;
    background-color: #a1bdbd;
    padding: 0 20px 20px 20px;
    border: 5px solid rgb(0, 0, 0);
  }
  img#imageprincipale {
    display: block;
    margin: 0 auto;
    width: 500px;
  }
  img#imageumbrella {
    display: block;
    margin: 0 auto;
    width: 300px;
  }
  img#imagediamonds {
    display: block;
    margin: 0 auto;
    width: 200px;
  }
  img#imagelove {
    display: block;
    margin: 0 auto;
    width: 300px;
  }
  img#sandm {
    display: block;
    margin: 0 auto;
    width: 300px;
  }
p.couplet{
  color: #000000;
  font-style: italic;
}
h4.cacher{
display: none;
}
img#imgwiki {
  display: block;
  margin: 0 auto;
  width: 100px;
}
img#imginsta {
  display: block;
  margin: 0 auto;
  width: 100px;
}
section.Ressources{
  display: flex;
  text-align: center;
  justify-content: center;
}
section.Ressources > p{
  margin-left: 5%;
  margin-right: 5%;
}